<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="../tpl_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="page-title">
            <h1>Listar Pedido</h1>
        </div>

        <div class="widget-container fluid-height clearfix">
            <div class="row">
                <div class="col-md-12" style="padding: 20px 20px 0 25px;">
                    <h:commandButton value="Pesquisar" class="btn btn-primary-outline" action="/view/pedidos/pesquisarPedidos" />
                </div>
            </div>

            <div class="widget-content padded clearfix">
                <h:dataTable value="#{requestsMB.find()}" var="generic"
                             styleClass="table table-striped">
                    <h:column>    				
                        <f:facet name="header">#</f:facet>    				
                            #{generic.id}
                    </h:column>
                    <h:column>    				
                        <f:facet name="header">Criado em</f:facet>    				
                            #{generic.createdAt}
                    </h:column>
                </h:dataTable>
            </div>
        </div>
    </ui:define>

</ui:composition>