<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8" />
        <title>#{msg.titulo}</title>
        <meta name="description" content="" />

        <!--<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />-->
        <link href="/Restaurante/faces/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/Restaurante/faces/stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/Restaurante/faces/stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/Restaurante/faces/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
        
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    </h:head>
    <h:body>
        <h:form prependId="false" class="form-horizontal">

            <div class="modal-shiftfix">
                <!-- Navigation -->
                <div class="navbar navbar-fixed-top scroll-hide">
                    <div class="container-fluid top-bar">
                        <div class="pull-right">
                            <ul class="nav navbar-nav pull-right">
                                <li class="dropdown user hidden-xs">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <img width="34" height="34" src="images/avatar-male.jpg" /> John Smith<b class="caret"></b>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-fluid main-nav clearfix">
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li>
                                    <h:commandLink action="/view/pedidos/pesquisarPedidos">
                                        <span aria-hidden="true" class="se7en-charts"></span> Pedidos
                                    </h:commandLink>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#">
                                        <span aria-hidden="true" class="se7en-tables"></span> Mesas <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <h:commandLink value="Pesquisar" action="/view/mesas/pesquisarMesas" />
                                        </li>
                                        <li>
                                            <h:commandLink value="Novo" action="/view/mesas/editarMesas" />
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#">
                                        <span aria-hidden="true" class="se7en-feed"></span> Produtos <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <h:commandLink value="Pesquisar" action="/view/produtos/pesquisarProdutos" />
                                        </li>
                                        <li>
                                            <h:commandLink value="Novo" action="/view/produtos/editarProdutos" />
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#">
                                        <span aria-hidden="true" class="se7en-gallery"></span> Categorias <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <h:commandLink value="Pesquisar" action="/view/categorias/pesquisarCategorias" />
                                        </li>
                                        <li>
                                            <h:commandLink value="Novo" action="/view/categorias/editarCategorias" />
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container-fluid main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="container-fluid main-content">
                                <ui:insert name="content" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </h:form>

    </h:body>

    <script src="/Restaurante/faces/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/jquery.ui.min.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/typeahead.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/select2.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
    <script src="/Restaurante/faces/javascripts/main.js" type="text/javascript"></script>
</html>