<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    template="../tpl_principal.xhtml">

    <ui:define name="content">
        <div class="page-title">
            <h1>Pesquisar Mesas</h1>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">
                    <div class="widget-content padded">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Número</label>
                                    <div class="col-md-9">
                                        <h:inputText class="form-control" value="#{boardsMB.instance.number}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <h:commandButton value="Pesquisar" class="btn btn-primary" type="submit" action="#{boardsMB.search()}" />
                            <h:commandButton value="Limpar pesquisa" class="btn btn-default-outline pull-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>