<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="../tpl_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <div class="page-title">
            <h1>Novo/Editar Categoria</h1>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">
                    <div class="widget-content padded">
                        
                        <h:inputHidden value="#{categoriesMB.instance.id}"></h:inputHidden>

                        <div class="form-group">
                            <label class="control-label col-md-2">Nome da categoria</label>
                            <div class="col-md-9">
                                <p:inputText label="Nome da categoria" value="#{categoriesMB.instance.name}" required="true" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p:commandButton value="Salvar" class="btn btn-primary" ajax="false" action="#{categoriesMB.save()}" />
                            <p:commandButton value="Excluir" class="btn btn-danger pull-right" ajax="false" action="#{categoriesMB.delete()}" />
                            <h:commandButton value="Voltar" class="btn btn-default-outline" action="/view/categorias/listarCategorias" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>